@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0f0f0f;
}

#header {
  backdrop-filter: blur(10px);
  animation: add-shadow linear both;
  position: sticky;
  top: 0;
  animation-timeline: scroll();
  animation-range: 0 150px;
}

@keyframes add-shadow {
  100% {
    box-shadow: 0 5px 50px -5px hsla(0, 0%, 100%, 0.1),
      0 0 0 1px hsla(0, 0%, 100%, 0.1);
    background: rgba(0, 0, 0, 0.3);
  }
}
